node-red/flows.json
[
    {
        "id": "f0bc5fa387442a1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3f533b9e7b672d2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-prometheus-exporter": "1.0.5"
        }
    },
    {
        "id": "2b6bb2b5616dd2ef",
        "type": "prometheus-metric-config",
        "name": "metric_pzem",
        "help": "data from pzem sensor",
        "labels": "label_current, label_power, label_voltage, label_freq",
        "mtype": "gauge"
    },
    {
        "id": "15244e71d2a80aeb",
        "type": "http in",
        "z": "f0bc5fa387442a1c",
        "name": "data1",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "935bb4ba629ac2fd",
                "18ee52049ea4ad23",
                "91bdfae52327c285",
                "a702b93bd27d087d",
                "e207d8b8d5ef3315",
                "1f9ca2abb0679f7c",
                "efac919e4ed67da4"
            ]
        ]
    },
    {
        "id": "ae46e31727f2231a",
        "type": "http response",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1760,
        "y": 440,
        "wires": []
    },
    {
        "id": "935bb4ba629ac2fd",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse current",
        "func": "// Ambil nilai dari payload HTTP POST\nlet current_value = Number(msg.payload.current);\n\n// Validasi\nif (isNaN(current_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: current_value,\n    labels: {\n        label_current: \"current\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "18ee52049ea4ad23",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse voltage",
        "func": "// Ambil nilai dari payload HTTP POST\nlet voltage_value = Number(msg.payload.voltage);\n\n// Validasi\nif (isNaN(voltage_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: voltage_value,\n    labels: {\n        label_voltage: \"voltage\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 620,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "91bdfae52327c285",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse power",
        "func": "// Ambil nilai dari payload HTTP POST\nlet power_value = Number(msg.payload.power);\n\n// Validasi\nif (isNaN(power_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: power_value,\n    labels: {\n        label_power: \"power\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 660,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "a702b93bd27d087d",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse frequency",
        "func": "// Ambil nilai dari payload HTTP POST\nlet freq_value = Number(msg.payload.frequency);\n\n// Validasi\nif (isNaN(freq_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: freq_value,\n    labels: {\n        label_freq: \"frequency\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 700,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "75e8471575cb5cb8",
        "type": "inject",
        "z": "f0bc5fa387442a1c",
        "name": "Check for Newest Vesion Now",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "74bf214bfd97a5a4"
            ]
        ]
    },
    {
        "id": "f32ebbb1dbf64f7d",
        "type": "http request",
        "z": "f0bc5fa387442a1c",
        "name": "Get Newest Version",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/anisamsrh/rtos-fp/ota-github/ota/version.txt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "d8cf72308992f8e5"
            ]
        ]
    },
    {
        "id": "d8cf72308992f8e5",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "Trigger OTA If Found",
        "func": "var githubVersion = msg.payload.trim();\nvar currentVersion = flow.get('known_version') || \"0.0.0\";\nif (githubVersion !== currentVersion) {\n    flow.set('known_version', githubVersion);\n    node.warn(\"Update firmware terdeteksi: \" + githubVersion);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4f106cad5026fa",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "Prepare Response",
        "func": "const response = {\n    \"status\": \"success\",\n    \"ota_update\": false,\n    \"version\" : \"\",\n    \"gversion\" : \"\",\n    \"inference\" : {\n        \"prediction\" : msg.payload.prediction,\n        \"status\" : msg.payload.status\n    }\n};\n\nvar githubVersion = flow.get('known_version') || \"1.0.0\";\nvar espVersion = flow.get('esp_version') || \"1.0.0\";\n\nresponse.version = espVersion;\nresponse.gversion = githubVersion;\n\nif (githubVersion > espVersion) {\n    response.ota_update = true;\n    \n    node.warn(\"Trigger update for this device!\");\n}\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 440,
        "wires": [
            [
                "ae46e31727f2231a",
                "9280bd55b609b297"
            ]
        ]
    },
    {
        "id": "74bf214bfd97a5a4",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"Project NodeRed\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "f32ebbb1dbf64f7d"
            ]
        ]
    },
    {
        "id": "a6f6b03cbecb10d2",
        "type": "prometheus-exporter",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "metric": "2b6bb2b5616dd2ef",
        "x": 1320,
        "y": 640,
        "wires": []
    },
    {
        "id": "e207d8b8d5ef3315",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "esp_version",
                "pt": "flow",
                "to": "payload.version",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9ca2abb0679f7c",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse temperature",
        "func": "// Ambil nilai dari payload HTTP POST\nlet temp_value = Number(msg.payload.temp);\n\n// Validasi\nif (isNaN(temp_value)) {\n    node.warn(\"Payload temperature tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: temp_value,\n    labels: {\n        label_temperature: \"temperature\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 740,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "58baf610288944f2",
        "type": "inject",
        "z": "f0bc5fa387442a1c",
        "name": "Simulate Different Version",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "f3f3c86cce22b354"
            ]
        ]
    },
    {
        "id": "f3f3c86cce22b354",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "known_version",
                "pt": "flow",
                "to": "1.0.4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "a770efa8326e0186"
            ]
        ]
    },
    {
        "id": "a770efa8326e0186",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "Debug : Put Know Version in Payload",
        "func": "msg.payload = flow.get(\"known_version\") || \"0.0.0\";;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "efac919e4ed67da4",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "Prepare Request Inference",
        "func": "const esp_data = {\n    'arus': msg.payload.current || 0.0, \n    'voltase' : msg.payload.volatage || 0.0, \n    'daya' : msg.payload.power || 0.0, \n    'frekuensi' : msg.payload.frequency || 0.0, \n    'suhu_dalam': msg.payload.temperature || 0.0, \n    'suhu_luar' : flow.get(\"suhu_luar\") || 0.0, \n    'prakiraan_suhu_luar' : flow.get(\"prakiraan_suhu_luar\") || 0.0\n};\n\nmsg.payload = esp_data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "4256d3074560e5ee"
            ]
        ]
    },
    {
        "id": "2589de6c2b5e29c8",
        "type": "http request",
        "z": "f0bc5fa387442a1c",
        "name": "Request API BMKG",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.bmkg.go.id/publik/prakiraan-cuaca?adm4=31.71.01.1001",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 260,
        "wires": [
            [
                "f3782eb2c6d1b927"
            ]
        ]
    },
    {
        "id": "7e2f321c829e1db2",
        "type": "inject",
        "z": "f0bc5fa387442a1c",
        "name": "Get BMKG Now",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "2589de6c2b5e29c8"
            ]
        ]
    },
    {
        "id": "f3782eb2c6d1b927",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "Parse Suhu Now & +30m",
        "func": "// BMKG response format:\n// data[0].cuaca[0] = array per jam\n\nlet data = msg.payload;\n\nif (!data || !data.data || !data.data[0] || !data.data[0].cuaca) {\n    node.warn(\"Data BMKG tidak valid\");\n    return null;\n}\n\nlet cuaca_list = data.data[0].cuaca[0];\n\nif (!Array.isArray(cuaca_list)) {\n    node.warn(\"Cuaca list bukan array\");\n    return null;\n}\n\n// Suhu sekarang (entry pertama)\nlet now = cuaca_list[0] || {};\nlet now_temp = now.t;\nlet now_time = now.local_datetime;\n\n// Suhu +30 menit (gunakan entry berikutnya karena BMKG hourly)\nlet next = cuaca_list[1] || {};\nlet next_temp = next.t;\nlet next_time = next.local_datetime;\n\nmsg.payload = {\n    suhu_sekarang: now_temp,\n    waktu_sekarang: now_time,\n    suhu_plus_30_menit: next_temp,\n    waktu_plus_30_menit: next_time\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "5372574dd769bb1a",
                "0dee654e74a4bfd3"
            ]
        ]
    },
    {
        "id": "5372574dd769bb1a",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "suhu_luar",
                "pt": "flow",
                "to": "payload.suhu_sekarang",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "c5f25b6a5977b6e6"
            ]
        ]
    },
    {
        "id": "0dee654e74a4bfd3",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "prakiraan_suhu_luar",
                "pt": "flow",
                "to": "payload.suhu_plus_30_menit",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4256d3074560e5ee",
        "type": "http request",
        "z": "f0bc5fa387442a1c",
        "name": "Get Inference",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://localhost:49000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "ab4f106cad5026fa"
            ]
        ]
    },
    {
        "id": "c5f25b6a5977b6e6",
        "type": "debug",
        "z": "f0bc5fa387442a1c",
        "name": "Show BMKG Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 260,
        "wires": []
    },
    {
        "id": "9280bd55b609b297",
        "type": "debug",
        "z": "f0bc5fa387442a1c",
        "name": "Show Full Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 480,
        "wires": []
    }
]