node-red/flows.json
[
    {
        "id": "f0bc5fa387442a1c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3f533b9e7b672d2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-prometheus-exporter": "1.0.5"
        }
    },
    {
        "id": "2b6bb2b5616dd2ef",
        "type": "prometheus-metric-config",
        "name": "metric_pzem",
        "help": "data from pzem sensor",
        "labels": "label_current, label_power, label_voltage, label_freq",
        "mtype": "gauge"
    },
    {
        "id": "15244e71d2a80aeb",
        "type": "http in",
        "z": "f0bc5fa387442a1c",
        "name": "data1",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 690,
        "y": 400,
        "wires": [
            [
                "935bb4ba629ac2fd",
                "18ee52049ea4ad23",
                "91bdfae52327c285",
                "a702b93bd27d087d",
                "627474c5b2ab5a7a",
                "e207d8b8d5ef3315"
            ]
        ]
    },
    {
        "id": "ae46e31727f2231a",
        "type": "http response",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1280,
        "y": 200,
        "wires": []
    },
    {
        "id": "935bb4ba629ac2fd",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse current",
        "func": "// Ambil nilai dari payload HTTP POST\nlet current_value = Number(msg.payload.current);\n\n// Validasi\nif (isNaN(current_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: current_value,\n    labels: {\n        label_current: \"data-current-sensor\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 380,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "18ee52049ea4ad23",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse voltage",
        "func": "// Ambil nilai dari payload HTTP POST\nlet voltage_value = Number(msg.payload.voltage);\n\n// Validasi\nif (isNaN(voltage_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: voltage_value,\n    labels: {\n        label_voltage: \"data-voltage-sensor\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "91bdfae52327c285",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse power",
        "func": "// Ambil nilai dari payload HTTP POST\nlet power_value = Number(msg.payload.power);\n\n// Validasi\nif (isNaN(power_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: power_value,\n    labels: {\n        label_power: \"data-power-sensor\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 460,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "a702b93bd27d087d",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "parse frequency",
        "func": "// Ambil nilai dari payload HTTP POST\nlet freq_value = Number(msg.payload.frequency);\n\n// Validasi\nif (isNaN(freq_value)) {\n    node.warn(\"Payload arus tidak valid\");\n    return null;\n}\n\nmsg.metric = \"metric_pzem\";\n\nmsg.payload = {\n    op: \"set\",\n    val: freq_value,\n    labels: {\n        label_freq: \"data-freq-sensor\"\n    }\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 500,
        "wires": [
            [
                "a6f6b03cbecb10d2"
            ]
        ]
    },
    {
        "id": "75e8471575cb5cb8",
        "type": "inject",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "74bf214bfd97a5a4"
            ]
        ]
    },
    {
        "id": "f32ebbb1dbf64f7d",
        "type": "http request",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/anisamsrh/rtos-fp/ota-github/ota/version.txt",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 200,
        "wires": [
            [
                "d8cf72308992f8e5"
            ]
        ]
    },
    {
        "id": "d8cf72308992f8e5",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "function 1",
        "func": "var githubVersion = msg.payload.trim();\nvar currentVersion = flow.get('known_version') || \"0.0.0\";\nif (githubVersion !== currentVersion) {\n    flow.set('known_version', githubVersion);\n    node.warn(\"Update firmware terdeteksi: \" + githubVersion);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "ab4f106cad5026fa"
            ]
        ]
    },
    {
        "id": "ab4f106cad5026fa",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "function 2",
        "func": "msg.payload = {\n    \"status\": \"success\",\n    \"ota_update\": false,\n    \"version\" : \"\",\n    \"gversion\" : \"\",\n};\n\nvar githubVersion = flow.get('known_version') || \"1.0.0\";\nvar espVersion = flow.get('esp_version') || \"1.0.0\";\n\nmsg.payload.version = espVersion;\nmsg.payload.gversion = githubVersion;\n\nif (githubVersion > espVersion) {\n    msg.payload.ota_update = true;\n    \n    node.warn(\"Trigger update for this device!\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "ae46e31727f2231a",
                "3ae29b1ca9f31afb"
            ]
        ]
    },
    {
        "id": "74bf214bfd97a5a4",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"Project NodeRed\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "f32ebbb1dbf64f7d"
            ]
        ]
    },
    {
        "id": "a6f6b03cbecb10d2",
        "type": "prometheus-exporter",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "metric": "2b6bb2b5616dd2ef",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "58baf610288944f2",
        "type": "inject",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "f3f3c86cce22b354"
            ]
        ]
    },
    {
        "id": "f3f3c86cce22b354",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "known_version",
                "pt": "flow",
                "to": "1.0.4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "a770efa8326e0186"
            ]
        ]
    },
    {
        "id": "a770efa8326e0186",
        "type": "function",
        "z": "f0bc5fa387442a1c",
        "name": "function 3",
        "func": "msg.payload = flow.get(\"known_version\") || \"0.0.0\";;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3ae29b1ca9f31afb",
        "type": "debug",
        "z": "f0bc5fa387442a1c",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "627474c5b2ab5a7a",
        "type": "debug",
        "z": "f0bc5fa387442a1c",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "e207d8b8d5ef3315",
        "type": "change",
        "z": "f0bc5fa387442a1c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "esp_version",
                "pt": "flow",
                "to": "payload.version",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "ab4f106cad5026fa",
                "849aba4cfa81ca30"
            ]
        ]
    },
    {
        "id": "849aba4cfa81ca30",
        "type": "debug",
        "z": "f0bc5fa387442a1c",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 360,
        "wires": []
    }
]